<div class="container-fluid">
  <div class='image-container text-center'>
    <h1>Welcome to the website<br><span>Learn more about our research<span></h1>
  </div>
  <div class="row bg-success text-white p-4">
    <div class="col-4">
      <h4>Services</h4>
      <p>
        You can learn more about some of the services we provide currently. 
        Whether it be Soil Analysis or Plant Analysis, we are here to help!
      </p>
      <a href="#" class="btn btn-secondary">Learn More</a>
    </div>
    <div class="col-4">
      <h4>Publications</h4>
      <p>
        You can learn more about some of the services we provide currently. 
        Whether it be Soil Analysis or Plant Analysis, we are here to help!
      </p>
      <a href="#" class="btn btn-secondary">Learn More</a>
    </div>
    <div class="col-4">
      <h4>About Us</h4>
      <p>
        You can learn more about some of the services we provide currently. 
        Whether it be Soil Analysis or Plant Analysis, we are here to help!
      </p>
      <a href="#" class="btn btn-secondary">Learn More</a>
    </div>
  </div>
  <div class="row mission text-center p-5 border-bottom border-success">
    <div class="col-12">
      <h2 class="text-success">Our Mission</h2>
      <p>
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum  
      </p>
    </div>
  </div>
  <div class='row p-5'>
    <div class="col-12 text-center"> <h2 class="text-success">News</h2></div>
    <div class="col-4">
      <h6>title</h6>
      <p> 
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      </p>
      <a href="#" class="btn btn-secondary">Learn More</a>
    </div>
    <div class="col-4">
      <h6>title</h6>
      <p>
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      </p>
      <a href="#" class="btn btn-secondary">Learn More</a>
    </div>
    <div class="col-4">
      <h6>title</h6>
      <p> 
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      </p>
      <a href="#" class="btn btn-secondary">Learn More</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-3"> <h2 class="text-success">Photos</h2></div>
    <div class="col-3">
      <%= image_tag "person.jpg", class: "img-fluid", alt: "person" %>
    </div>
    <div class="col-3">
      <%= image_tag "person1.jpg", class: "img-fluid", alt: "person" %>
    </div>
    <div class="col-3">
      <%= image_tag "person2.jpg", class: "img-fluid", alt: "person" %>
    </div>
    <div class="col-3">
      <%= image_tag "person.jpg", class: "img-fluid", alt: "person" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <%= image_tag "person.jpg", class: "img-fluid", alt: "person" %>
    </div>
    <div class="col-3">
      <%= image_tag "person1.jpg", class: "img-fluid", alt: "person" %>
    </div>
    <div class="col-3">
      <%= image_tag "person2.jpg", class: "img-fluid", alt: "person" %>
    </div>
    <div class="col-3">
      <%= image_tag "person.jpg", class: "img-fluid", alt: "person" %>
    </div>
    <div class="col-12 text-center p-4"><a href="#" class="btn btn-secondary">More Photos</a></div>
  </div>
  <div class="row p-5 bg-light">
    <div class="col-6 bg-white p-3 bloquote">
      <blockquote>
        <h2 class="text-success">Quality</h2>
        <ul>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum l</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum l</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum l</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum l</li>
        </ul>
        <h2 class="text-success">Values</h2>
        <ul>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum l</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum l</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
        </ul>
      </blockquote>
    </div>
    <div class="col-6">
      <div class="card p-5"><%= image_tag "person2.jpg", class: "img-fluid", alt: "person" %></div>
    </div>
  </div>
  <div class="row text-center p-4">
    <div class="col-12">
      <h2 class="text-success">Want More Information?</h2>
      <h5>It's Easy</h6>
      <a href="#" class="btn btn-secondary">Contact Us</a>
    </div>
  </div>
  <div id="demo" class="carousel slide p-4" data-ride="carousel" data-interval="10000">
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row text-center">
          <div class="col-4">partner logo-1</div>
          <div class="col-4">partner logo-2</div>
          <div class="col-4">partner logo-3</div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row text-center">
          <div class="col-4">partner logo-1</div>
          <div class="col-4">partner logo-2</div>
          <div class="col-4">partner logo-3</div>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev left-cont" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next right-cont" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
